<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_USER_AGENT} "Mozilla/5.0 (Linux; Android 15; CPH2613 Build/TP1A.220905.001; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/133.0.6943.138 Mobile Safari/537.36" [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} "Mozilla/5.0 \(Windows NT 10.0; Win64; x64\) AppleWebKit/537.36 \(KHTML, like Gecko\) Chrome/131.0.0.0 Safari/537.36 Edg/131.0.0.0" [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} (Windows\sNT\s(5\.0|5\.1|5\.2|6\.0|6\.1|6\.2)) [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} "TECNO KE5" [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} "(Safari/89_0_4389_128|Safari/109_0_1518_70|Safari/604_1|Safari/605.1.15|Safari/108_0_1486_0|Safari/108_0|Safari/94_0_4638_69|Safari/131_0_0_0|Safari/84_0_4163_159|Safari/88_0_4324_190|Safari/87_0_4280_141|Safari/109_0_1518_70)" [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} "(Firefox/605.1.15|Firefox/107.0|Firefox/95.0.4638.69|Firefox/84.0.4163.159|Firefox/109.0.1518.70|Firefox/88.0.4324.190|Firefox/604.1|Firefox/129.0.0.0)" [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} "(Edge/95.0.4638.69|Edge/108.0.1486.0|Edge/604.1)" [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} "(Chromium|Brave|Vivaldi|Opera|Dalvik|UNAVAILABLE|Amazonbot)" [NC,OR]
    RewriteCond %{HTTP_USER_AGENT} "(Chrome/78.0.3904.108|Chrome/94.0.4638.69|Chrome/604.1|Chrome/129.0.0.0|Chrome/603.3.8|Chrome/93.0.4638.69|Chrome/84.0.4163.159|Chrome/119.0.6045.214)" [NC]
    RewriteRule .* - [F,L]
</IfModule>

Redirect 301 /log-me-in https://bookkeeperapp.net/site/?req=loguser&mode=0%2F
Redirect 301 /registration https://bookkeeperapp.net/site/?req=register&mode=0%2F
Redirect 301 /forgot-password https://bookkeeperapp.net/site/forgot-password

Redirect 301 /terms-conditions https://bookkeeperapp.net/terms-conditions.html
Redirect 301 /privacy-policy-2 https://bookkeeperapp.net/privacy-policy-2.html
Redirect 301 /legal https://bookkeeperapp.net/legal.html
Redirect 301 /license-2 https://bookkeeperapp.net/license-2.html
Redirect 301 /refund-policy-2 https://bookkeeperapp.net/refund-policy-2.html
Redirect 301 /subscription-3 https://bookkeeperapp.net/subscription-3.html
Redirect 301 /appfeatures https://bookkeeperapp.net/appfeatures.html
Redirect 301 /features-for-gcc https://bookkeeperapp.net/features-for-gcc.html
Redirect 301 /appfeatures-pk https://bookkeeperapp.net/appfeatures-pk.html
Redirect 301 /appfeatures-bd https://bookkeeperapp.net/appfeatures-bd.html
Redirect 301 /appfeatures-tz https://bookkeeperapp.net/appfeatures-tz.html
Redirect 301 /appfeatures-gh https://bookkeeperapp.net/appfeatures-gh.html
Redirect 301 /appfeatures-np https://bookkeeperapp.net/appfeatures-np.html
Redirect 301 /appfeatures-lk https://bookkeeperapp.net/appfeatures-lk.html
Redirect 301 /appfeatures-global https://bookkeeperapp.net/appfeatures-global.html
Redirect 301 /accounting-app-for-windows https://bookkeeperapp.net/accounting-app-for-windows.html
Redirect 301 /partners-program https://bookkeeperapp.net/partners-program.html
Redirect 301 /book-keeper-in-the-headlines https://bookkeeperapp.net/book-keeper-in-the-headlines.html
Redirect 301 /whats-new-in-book-keeper-windows https://bookkeeperapp.net/whats-new-in-book-keeper-windows.html
Redirect 301 /bookkeeper-vs-tally-vs-busy-vs-quickbooks https://bookkeeperapp.net/bookkeeper-vs-tally-vs-busy-vs-quickbooks.html
Redirect 301 /careers https://bookkeeperapp.net/careers.html
Redirect 301 /our-other-applications https://bookkeeperapp.net/our-other-applications.html
Redirect 301 /book-a-demo-new https://bookkeeperapp.net/book-a-demo.html
Redirect 301 /book-a-demo https://bookkeeperapp.net/book-a-demo.html
Redirect 301 /contact-us https://bookkeeperapp.net/contact-us.html
Redirect 301 /privacy-policy-business-marketing-app https://bookkeeperapp.net/privacy-policy-business-marketing-app.html
Redirect 301 /privacy-policy-other-apps https://bookkeeperapp.net/privacy-policy-other-apps.html
Redirect 301 /thank-you https://bookkeeperapp.net/thank-you.html
Redirect 301 /partners-program.html/ https://bookkeeperapp.net/partners-program.html
Redirect 301 /book-a-demo.html/ https://bookkeeperapp.net/book-a-demo.html
