/* styles/our-services.css */

.banner {
  position: relative;
  background: url("https://images.pexels.com/photos/866398/pexels-photo-866398.jpeg")
    no-repeat center center/cover;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 41, 69, 0.6);
  z-index: 1;
}

.bannerContent {
  position: relative;
  z-index: 2;
  text-align: center;
}

.bannerContent h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  font-size: var(--font-size-h1);
}

.breadCrumb {
  background: #fff;
  display: inline-block;
  padding: 6px 14px;
  border-radius: 50px;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.breadCrumb a {
  color: #666;
  text-decoration: none;
  margin: 0 6px;
}

.breadCrumb a:last-child {
  color: #5b73e8;
  font-weight: bold;
}

.breadCrumb span {
  color: #999;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  background-color: #fff;
}

.content {
  flex: 3;
  max-width: 70%;
}

.content h5 {
  font-size: 14px;
  /* color: #999; */
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 500;
}

.content h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}

.content p {
  font-size: 13px;
  color: #666;
  line-height: 1.7;
  max-width: 90%;
}

.sidebar {
  flex: 1;
  max-width: 25%;
  padding-left: 40px;
  border-left: 1px solid #eee;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.sidebar a.active,
.sidebar a:hover {
  color: #5b73e8;
}

.sidebar a.active::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 20px;
  background-color: #5b73e8;
  border-radius: 2px;
}
